body{
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/71/29/58/1000_F_271295864_yiioni2LZXAkdVUs1EP6GdR680QR7iKv.jpg);
    background-size: cover;
}

/************encabezado*****************/
.encabezado{
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: space-between;  
}

.encabezado >img{
    width: 160px;
    height: 160px;
}



h1{
    color:black;
    font-family: Qatar2022 Arabic Heavy;
    font-size: 360%;
    margin: 0%;
    padding: 0%;   
}

h1 >span{
    font-family: 'Bungee Shade', cursive;
    font-size: 150%;
    margin: 0%;
    padding: 0%;
    
}

/*********formulario************/

.central{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    margin: 10px;
}



.formulario{
    display: flex;
    width: 30%;
    height: 400px;
    margin-top: 40px;
    margin-left: 40px;
    border: solid black 2px;
    border-radius: 20px;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column; 
}


.central label{
    font-family: Qatar2022 Arabic Heavy;
    margin: 3% 0 0 10%;
    font-size: 15px;
}

.central input{
    width: 50%;
    height: 15px;
    margin-left: 10%;
}


#imprimeRespuestaUsuario{
    color:azure;
    font-family: Qatar2022 Arabic Heavy;
    font-size: 13px;
    font-style: oblique;
    font-weight: bold;
    margin: 0 0 0 10%;
}

#imprimeRespuestaContrasenia{
    color:azure;
    font-family: Qatar2022 Arabic Heavy;
    font-size: 13px;
    font-style: oblique;
    font-weight: bold;
    margin: 0 0 0 10%;
}

.terminosCondisiones{
    display: flex;
    width: 25%;
    height: 250px;
    margin-top: 40px;
    margin-left: 40px;
    border: solid black 2px;
    border-radius: 20px;
    align-content:flex-start;
    flex-wrap: wrap;
}

.terminosCondisiones button{
    background-color: brown;
    color:black;
    height: 45px;
    width: 120px;
    font-size: 15px;
    cursor: pointer;
    font-family: Qatar2022 Arabic Heavy;
    margin: 10px 10px 10px 20px;
    
}

.terminosCondisiones button:hover{
    transition: 0.5s;
    background-color: white;
}


.terminosCondisiones button a{
    color:black;
    height: 45px;
    width: 100px;
    margin: 10px 5px 10px 5px; 
    font-size: 15px;
    cursor: pointer;
    font-family: Qatar2022 Arabic Heavy;
    text-decoration: none;
}

#capcha{
    font-family: Qatar2022 Arabic Heavy;
    font-size: 30px;
    color: beige;
    text-decoration: line-through;
    position: relative;
    right: 30%;
    
}

#imprimeRespuestaCapcha{
    color:azure;
    font-family: Qatar2022 Arabic Heavy;
    font-size: 13px;
    font-style: oblique;
    font-weight: bold;
    margin: 0 0 0 10%;
}

#inputCapcha{
    width: 225px;
}

#checkboxTerminos{
    position: relative;
    left: 53%;
    bottom: 10%;
}